* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-height: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  font-size: 1.2rem;
}

.titulo {
  font-size: 2.5rem;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}


.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80%;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.nav li a {
  padding: 10px 20px;
  color: #092517;
  font-weight: bold;
}

.nav li a:hover {
  color: #87c931;
}

nav li a.ativo {
  color: #87c931;
}

.servicos {
  background: #f7f7f7;
  text-align: center;
  padding: 4rem 0;
}

.servicos-container {
  max-width: 1200px;
  margin: 0 auto;
}

.servicos-container-item {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.empresa {
  /* background-color: red; */
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  
}

.empresa-nome {
  color: #092517;
  font-size: 3rem;
}

.empresa a {
  color: #092517;
  background-color: #87c931;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
}

.servicos-container .titulo {
  color: #092517;
  margin-bottom: 4rem;
}

.footer {
  background-color: #222222;
}

.footer-container {
  margin-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-content {
  text-align: center;
}

.footer-contato {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 3rem 0;
}

.contato-item i {
  font-size: 2rem;
  color: #87c931;
}

.contato-item a {
  margin-top: 1rem;
  color: #e5e5e5;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-copy-bg {
  background-color: #111111;
}

.footer-copy {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0;
  color: #d1d1d1;
  max-width: 1200px;
  margin: 0 auto;
}

.clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 65px;
  /* width: 70%; */
}

.clienteslogo {
  max-width: 150px; /* Defina o tamanho máximo desejado */
  height: auto; /* Para manter a proporção da imagem */
  margin: 10px; /* Adicione margem para separar as logos */
}

.logoclientes {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}


.depoimentos {
  position: relative;
  overflow: hidden;
  max-width: 90%; /* Limita a largura do carrossel a 70% da largura da janela */
  margin: 0 auto; /* Centraliza o carrossel na página */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: fit-content; /* Ajusta a largura do carrossel ao conteúdo */
  margin: 0 auto; /* Centraliza o carrossel na página */
  margin-bottom: 100px;
}

.depoimento {
  background-color: #87c931;
  color: #092517;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.depoimento img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.mensagem {
  font-size: 18px;
  margin-bottom: 20px;
}

.autor {
  font-style: italic;
  font-size: 16px;
  text-align: right;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #092517;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.depoimento:hover {
  transform: scale(1.05);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #85c731;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  width: 400px;
}

.card:last-child {
  background-color: #092517;
  margin-right: 0;
}

h2 {
  margin: 0;
  color: #fff;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.serv-item {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.serv-item:hover {
  transform: scale(1.1);
}

.serv-item img {
  width: 150px;
  border-radius: 10px;
}

.btn1 {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #092517;
  color: #85c731;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn2 {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #85c731;
  color: #092517;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f2f2f2;
}

.miniaturaserviço{
  cursor: pointer;
}









/* .banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.banner {
  display: none;
  position: relative;
}

.banner.active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
} */
