* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  font-size: 1.2rem;
}

.titulo {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.subtitulo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-nav {
  /* background-color: white; */
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80%;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.nav li a {
  padding: 10px 20px;
  color: #005a3b;
  font-weight: bold;
}

.nav li a:hover {
  color: rgb(221, 213, 206);
}

nav li a.ativo {
  color: #87c931;
}

.banner-bg {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  margin-top: -1px; /* Corrigindo o espaço abaixo da navegação */
}

.banner-bg::before {
  content: '';
  background-image: url('../img/info/foto23.png');
  /* background-size: contain; */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.banner-container {
  position: relative;
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  text-align: left;
  /* background: linear-gradient(to right, rgba(0, 90, 59, 1), rgba(0, 255, 0, 0)); */
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  /* width: 450px; */
  /* padding: 1.5rem; */
  height: 100%;
  text-align: center;
}

.banner-content h1 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.banner-content a {
  background-color: #87c931;
  color: #092517;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  /* font-size: 16px; */
  margin-top: 180px;
  margin-left: 235px;
  text-align: center;
  transition: .3s;
  align-self: flex-start;
}

.banner-bg a:hover {
  background-color: rgb(233, 225, 220);
}


.sobre {
  padding: 4rem 0;
}

.sobre-container {
  max-width: 1100px;
  padding: 40px;
  margin: 0 auto;
}

.sobre-container .titulo {
  color: #092517;
}

.subt::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: chocolate;
  margin: 30px auto;
}

.sobre-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
}

.sobre-item p {
  margin-bottom: 1rem;
}

.sobre-content img {
  width: 100%;
  /* height: 400px; */
}

.servicos {
  background: #092517;
  text-align: center;
  padding: 4rem 0;
}

.servicos-container {
  max-width: 1200px;
  margin: 0 auto;
}

.servicos-container .titulo {
  color: #85c731;
  margin-bottom: 4rem;
}

.servicos-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.serv-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  color: #85c731;
  transition: 0.3s;
}

.serv-item:hover {
  transform: scale(1.2);
}

.serv-item figure {
  border: none;
  width: 255px;
  height: 168px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.serv-item p {
  margin: 0.8rem 0;
}

.serv-item a {
  background: #85c731;
  color: #092517;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 20px;
  transition: .3s;
}

.serv-item a:hover {
  background: chocolate;
}

.outline-btn {
  background: none; /* Removido o preenchimento */
  border: 2px solid #80c51f; /* Adicionado contorno */
  color: #80c51f; /* Cor do texto */
  padding: 0.5rem 1rem; /* Ajuste de espaçamento interno */
  cursor: pointer;
  border-radius: 15px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.outline-btn:hover {
  background: #80c51f; /* Adiciona preenchimento ao passar o mouse */
  color: white; /* Altera a cor do texto ao passar o mouse */
}

.clientes {
  text-align: center;
  background: #80c51f;
  color: white;
  position: relative; /* Adicionado para posicionar as setas */
  padding: 40px;
}

.clientes-container {
  max-width: 90%; /* Reduzindo a largura para 70% */
  margin: 0 auto;
  padding: 4rem 0;
  position: relative; /* Adicionado para posicionar as setas */
}


.clientes ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: flex-start; /* Alterado para alinhar as logos à esquerda */
}

.clientes-item{
  width: 200px; 
}

.contato {
  background-image: url("../img/info/bannercontato.png");
}

.contato-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

.contato-titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #fafafa;
}

.contato-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.contato-content a {
  padding: 1rem 2rem;
  background-color: #85c731;
  border-radius: 10px;
  color: #092517;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.contato-content a:hover {
  background-color: chocolate;
}

.footer {
  background-color: #222222;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-content {
  text-align: center;
}

.footer-contato {
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 3rem 0;
  flex-wrap: wrap;
}

.contato-item i {
  font-size: 2rem;
  color: #80c51f;
}

.contato-item a {
  margin-top: 1rem;
  color: #e5e5e5;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-copy-bg {
  background-color: #111111;
}

.footer-copy {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 0;
  color: #d1d1d1;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .banner-container {
    height: 268px;
  }
  .footer-contato {
    flex-direction: column;
  }
  .sobre-content {
    grid-template-columns: 1fr;
  }
  .clientes-lista {
    overflow-x: auto;
  }
  .clientes ul {
    justify-content: flex-start;
  }
}
